img{
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
} 
figure{
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	background-color: gray;
}
body{
	width: 800px;
	max-height: auto;
	margin: auto;
	background-color:
	background: black;
}
h1{
border-bottom: 2px solid red;
border-color: red;
}
h3{
	border-bottom:2px solid red;
}

